<% include ../partials/header %>
  <h1 class="form-header">Write your comment to <%= post.title %></h1>
  <form action="/posts/<%= post._id %>/comments" method="post" class="form-new-post">


    <div class="form-group">
      <textarea type="number" name="comment[text]" placeholder="Write your comment here" class="form-control"></textarea>
    </div>
    <button class="btn btn-success btn-block">Submit</button>
  </form>
</div>

<% include ../partials/footer %>
