<% include ../partials/header %>

  <h1 class="form-header">Write your post here</h1>
  <form action="/posts" method="post" class="form-new-post">
    <div class="form-group">
      <input type="text" name="post[title]" placeholder="Title" class="form-control">
    </div>
    <div class="form-group">
      <input type="text" name="post[image]" placeholder="Image" class="form-control">
    </div>
    <div class="form-group">
      <textarea type="number" name="post[body]" placeholder="Write your post here" class="form-control"></textarea>
    </div>
    <button class="btn btn-success btn-block">Submit</button>
  </form>
</div>

<% include ../partials/footer %>
